<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>chatSystem</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/world.css">
</head>

<body>
  <%- include ./modules/header.ejs %>
  <div class="messageBox" id="messageBox">
    <div class="messageDetail">
      <div class="messageTop">
        <div class="roomIcon">
          <img src="/images/hall/<%=roomInfo.roomIcon%>" alt="">
        </div>
        <div class="roomName"><%=roomInfo.name%> <small><%=roomInfo.briefIntroduction%>&nbsp;&nbsp;--by&nbsp;<%=roomInfo.ownName%></small> </div>
      </div>
      <div class="messageBoard" id="messageBoard"></div>
    </div>
    <div class="messageEdit">
      <div class="msgType">
        <ul>
          <li><i class="msgTypeIcon"></i></li>
          <li><i class="msgTypeIcon emotion"></i></li>
          <li>
            <input type="file" name="file" id="file" accept="image/*" class="inputFile" onchange="getFileToPicture(event)" />
            <label for="file" class='msgTypeIcon picture'></label>
          </li>
        </ul>
      </div>
      <div contentEditable='true' name="name" class="msgInfo" id="msgInfo"></div>
      <button class="msgButton" onclick="sendRoomMessage()">发送</button>
    </div>
  </div>
  <div class="userBox" id="userBox">
    <div class="noticeBoard">
      <article>
        <header class="tip">房间信息</header>
        <p>这是世界公告内容这是世界公告内容这是世界公告内容这是世界公告内容，啦啦啦啦啦啦啦啦lalalala </p>
      </article>
    </div>
    <div class="userList">
      <p class="tip">房间成员</p>
      <ul id="userList"></ul>
    </div>
  </div>
  <script type="text/javascript" src="/socket.io/socket.io.js" defer></script>
  <script type="text/javascript" src="/js/room_client.js" defer></script>
</body>

</html>
